/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(139, 139, 139, 0.5);
  backdrop-filter: blur(1px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 1050;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.overlay.closing {
  opacity: 0;
  visibility: hidden;
}

/* Slide Auth */
.slide-Auth {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 560px;
  background: var(--background);
  z-index: 1060;
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease-in-out;
  pointer-events: none;
}

.slide-Auth.active ,.slide-Auth.activ_confirm{
  transform: translate(-50%, -50%) scale(1);
  pointer-events: auto;
}



@media screen and (max-width: 639px) {
  .slide-Auth {
    width: 70%;
  }

}

@media screen and (max-width: 380px) {
  .slide-Auth.activ_confirm{
   width: 80%;
  }

}
